<!DOCTYPE html>
<html lang="ua-UA">
<head>
    <title th:text="${user.getName()}"></title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <ul id="nav">
        <li><a th:href="@{/}">Головна сторінка</a></li>
        <li><a th:href="@{/article}">Статті</a></li>
        <li><a th:href="@{/event}">Події</a></li>
        <li><a th:href="@{/course}">Курси</a></li>
        <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
            <a th:href="@{/me}">Мій аккаунт</a></li>
        <li id="admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin}">Адміністрування</a>
        </li>
        <li id="loginButton"
            th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/login}">Авторизуватися</a></li>
        <li id="registrationButton"
            th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/registration}">Зареєструватись</a></li>
    </ul>
</div>
<div id="main">
    <form id="logoutForm" th:action="@{/logout}" th:method="POST">
        <input id="logout" type="submit" value="Вийти з аккаунту"/>
    </form>
    <h3 th:text="'Ім\'я користувача: ' + ${user.getName()}"></h3>
    <p>
        <span th:text="'Email: ' + ${user.getEmail()}"></span>
        <span th:if="${user.isEmailConfirmed()}" th:text="' | Пошта підтверджена'"></span>
        <span th:unless="${user.isEmailConfirmed()}" th:text="' | Пошта не підтверджена'"></span>
    </p>
    <span>Ролі: </span>
    <span th:each="role : ${user.getRoles()}" th:text="${role} + ' '"></span>
    <div th:if="${user.getPassword()!=null}">
        <p></p>
        <a th:href="@{/me/edit}">
            <button type="button">Змінити пошту</button>
        </a>
        <a th:href="@{/me/change-password}">
            <button type="button">Змінити пароль</button>
        </a>
    </div>
    <form id="generateCode" th:action="@{/me/generate/activation-code}" th:method="POST">
        <fieldset>
            <input name="submit" type="submit" value="Згенерувати"/>
        </fieldset>
        <div th:if="${mailHasBeenSent}" th:text="${mailHasBeenSent}"></div>
        <div class="formValidationError" th:if="${codeAlreadyGeneratedError}"
             th:text="${codeAlreadyGeneratedError}"></div>
    </form>
    <form id="activationCodeForm" th:action="@{/me/activate-code}" th:method="PUT">
        <fieldset>
            <div>
                <input name="activationCode"
                       placeholder="Код активації" th:value="${activationCode}"
                       title="Код активації" type="text">
            </div>
            <div class="formValidationError" th:if="${activationCodeError}"
                 th:text="${activationCodeError}">InvalidCode
            </div>
            <input id="submit" name="submit" type="submit" value="Відправити"/>
        </fieldset>
    </form>
    <form th:if="${user.isEmailConfirmed() == false}" id="emailConfirm" th:action="@{/me/email-request}"
          th:method="POST">
        <fieldset>
            <input name="submit" type="submit" value="Підтвердити пошту"/>
        </fieldset>
    </form>
    <div th:if="${message}" th:text="${message}"></div>
</div>
<div id="footer"></div>
</body>
</html>