<!DOCTYPE  html>
<html lang="ua-UA">
<head>
    <title>Редагувати статтю</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <div class="wrapper">
        <ul id="nav">
            <li><a th:href="@{/}">Головна сторінка</a></li>
            <li><a th:href="@{/article}">Статті</a></li>
            <li><a th:href="@{/event}">Події</a></li>
            <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
                <a th:href="@{/me}">Мій аккаунт</a></li>
            <li id="loginButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/login}">Авторизуватися</a></li>
            <li id="registrationButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/registration}">Зареєструватись</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrapper">
        <form id="articleForm" th:action="@{/article}" th:method="PUT" th:object="${article}">
            <fieldset>
                <input id="id" th:field="*{id}" type="hidden"/>
                <label for="title">Введіть назву статті:</label>
                <div>
                    <textarea cols="20" id="title"
                              name="title" rows="5"
                              th:field="*{title}" title="Назва статті">
                    </textarea>
                </div>
                <div class="formValidationError" th:errors="*{title}"
                     th:if="${#fields.hasErrors('title')}">TitleError
                </div>
                <label for="text">Введіть текст статті:</label>
                <div>
                    <textarea cols="20" id="text"
                              name="title" rows="5"
                              th:field="*{text}" title="Текст статті">
                    </textarea>
                </div>
                <div class="formValidationError" th:errors="*{text}"
                     th:if="${#fields.hasErrors('text')}">
                    articleTextError
                </div>
                <div class="formValidationError" th:if="${updateArticleError}" th:text="${updateArticleError}">
                    updateArticleError
                </div>
                <input id="submit" name="submit" type="submit" value="Зберегти статтю!"/>
            </fieldset>
        </form>

        <form id="deleteForm" th:action="@{/article/{articleId}(articleId=${article.getId()})}" th:method="DELETE">
            <fieldset>
                <input id="deleteButton" name="deleteButtont" type="submit" value="Видалити статтю!">
            </fieldset>
        </form>
    </div>
</div>
<div id="footer"></div>
</body>
</html>