<!DOCTYPE html>
<html lang="ua-UA">
<head>
    <title>Нова подія</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <div class="wrapper">
        <ul id="nav">
            <li><a th:href="@{/}">Головна сторінка</a></li>
            <li><a th:href="@{/article}">Статті</a></li>
            <li><a th:href="@{/event}">Події</a></li>
            <li><a th:href="@{/course}">Курси</a></li>
            <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
                <a th:href="@{/me}">Мій аккаунт</a></li>
            <li id="admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin}">Адміністрування</a>
            </li>
            <li id="loginButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/login}">Авторизуватися</a></li>
            <li id="registrationButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/registration}">Зареєструватись</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrapper">
        <form id="eventForm" th:action="@{/event}" th:method="POST" th:object="${event}">
            <fieldset>
                <label for="title">Введіть назву події:</label>
                <div>
                    <textarea cols="20" id="title"
                              name="title" rows="5"
                              th:field="*{title}" title="Назва події">
                    </textarea>
                </div>
                <div class="formValidationError" th:errors="*{title}"
                     th:if="${#fields.hasErrors('title')}">TitleError
                </div>
                <label for="text">Введіть текст події:</label>
                <div>
                    <textarea cols="20" id="text"
                              name="title" rows="5"
                              th:field="*{text}" title="Текст події">
                    </textarea>
                </div>
                <div class="formValidationError" th:errors="*{text}"
                     th:if="${#fields.hasErrors('text')}"> textError
                </div>
                <div class="formValidationError" th:if="${eventError}" th:text="${eventError}">eventError</div>
                <input id="submit" name="submit" type="submit" value="Зберігти подію"/>
            </fieldset>
        </form>
    </div>
</div>
<div id="footer"></div>
</body>
</html>