<!DOCTYPE html>
<html lang="ua-UA">
<head>
    <meta charset="UTF-8">
    <title>Увійти</title>
</head>
<body>
<div id="header">
    <ul id="nav">
        <li><a th:href="@{/}">Головна сторінка</a></li>
        <li id="me" th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() != 'anonymousUser'}">
            <a th:href="@{/me}">Мій аккаунт</a></li>
        <li id="loginButton"
            th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/login}">Авторизуватися</a></li>
        <li id="registrationButton"
            th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/registration}">Зареєструватись</a></li>
    </ul>
</div>
<div id="main">
    <form id="loginForm" th:action="@{/login}" th:method="POST">
        <fieldset>
            <div>
                <input class="form-poshytip" id="username" name="username"
                       placeholder="Ім'я користувача" title="Ім'я користувача" type="text">
            </div>
            <div>
                <input class="form-poshytip" id="password" name="password"
                       placeholder="Пароль" title="Пароль" type="password">
            </div>
            <p class="formValidationError" th:if="${param.error}"
               th:text="'Введений пароль або ім\'я містять помилки.'"></p>
            <input id="submit" name="submit" type="submit" value="Вхід"> <a th:href="@{/restore}">Забули
            пароль?</a>
        </fieldset>
    </form>
</div>
<div id="footer"></div>
</body>
</html>