<!DOCTYPE html>
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <title>Увійти</title>
</head>
<body>
<div id="header">
    <ul id="nav">
        <li><a th:href="@{/}">Головна сторінка</a></li>
        <li><a th:href="@{/article}">Статті</a></li>
        <li><a th:href="@{/event}">Події</a></li>
        <li><a th:href="@{/course}">Курси</a></li>
        <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
            <a th:href="@{/me}">Мій аккаунт</a></li>
        <li id="admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin}">Адміністрування</a>
        </li>
        <li id="loginButton"
            th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/login}">Авторизуватися</a></li>
        <li id="registrationButton"
            th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/registration}">Зареєструватись</a></li>
    </ul>
</div>
<div id="main">
    <form id="loginForm" th:action="@{/login}" th:method="POST">
        <fieldset>
            <div>
                <input id="username" name="username" required
                       placeholder="Електронна пошта" title="Електронна пошта" type="email">
            </div>
            <div>
                <input id="password" name="password" required
                       placeholder="Пароль" title="Пароль" type="password">
            </div>
            <p class="formValidationError" th:if="${param.error}" th:text="#{user.invalid.credentials}"></p>
            <input id="submit" name="submit" type="submit" value="Вхід">
            <a th:href="@{/password/request}">Забули пароль?</a>
        </fieldset>
    </form>
    <p th:if="${message}" th:text="${message}"></p>
    <p th:if="${tokenError}" th:text="${tokenError}"></p>
    <h3>Або</h3>
    <p></p>
    <a class="auth" href="/oauth2/authorization/google">
        <div>
            Увійдіть за допомогою Google
        </div>
    </a>
</div>
<div id="footer"></div>
</body>
</html>