<!DOCTYPE html>
<html lang="ua-UA">
<head>
    <title>Реєстрація</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <ul id="nav">
        <li><a th:href="@{/}">Головна сторінка</a></li>
        <li id="me" th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() != 'anonymousUser'}">
            <a th:href="@{/me}">Мій аккаунт</a></li>
        <li id="loginButton"
            th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/login}">Авторизуватися</a></li>
        <li id="registrationButton"
            th:if="${#authentication.isAuthenticated() && #authentication.getPrincipal() == 'anonymousUser'}">
            <a th:href="@{/registration}">Зареєструватись</a></li>
    </ul>
</div>
<div id="main">
    <form id="registrationForm" th:action="@{/registration}" th:method="POST" th:object="${user}">
        <fieldset>
            <label for="username">Введіть ім'я користувача:</label>
            <div>
                <input id="username" name="username" required
                       th:field="*{username}" placeholder="Ім'я користувача"
                       title="Ім'я користувача" type="text"/>
            </div>
            <div class="formValidationError" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">
                UsernameError
            </div>
            <label for="email">Введіть електронну пошту: </label>
            <div>
                <input id="email" name="email"
                       required th:field="*{email}"
                       title="Електронна пошта" placeholder="Електронна пошта"
                       type="text"/>
            </div>
            <div class="formValidationError" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">EmailError
            </div>
            <label for="password">Введіть пароль: </label>
            <div>
                <input id="password" name="password" placeholder="Пароль"
                       th:field="*{password}"
                       title="Пароль" type="password">
            </div>
            <div class="formValidationError" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">
                PasswordError
            </div>
            <label for="passwordConfirm">Підтвердіть пароль: </label>
            <div>
                <input id="passwordConfirm" name="passwordConfirm"
                       placeholder="Підтвердження пароля" th:field="*{passwordConfirm}"
                       title="Підтвердження пароля" type="password">
            </div>
            <div class="formValidationError" th:if="${passwordMismatchError}" th:text="${passwordMismatchError}">
                Password mismatch
            </div>
            <div class="formValidationError" th:if="${usernameError}" th:text="${usernameError}"></div>
            <input id="submit" name="submit" type="submit" value="Зареєструватись"/>
        </fieldset>
    </form>
</div>
<div id="footer"></div>
</body>
</html>