<!DOCTYPE html>
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <title>Код активації</title>
</head>
<body>
<div id="main">
    <div style="text-align:center;line-height:24px;font-size:25px;">
        <p th:if="${string0}" th:text="'Здрастуйте, ' + ${string0} + '!'"></p>
        <p style="font-size:35px;line-height:40px;font-weight:bold"
           th:if="${string1}" th:text="'Дякуємо за генерацію коду для курсу ' + ${string1}"></p>
        <p>Ваш код активації:</p>
        <p th:if="${string2}" th:text="${string2}"></p>
    </div>
</div>
<div id="footer"></div>
</body>
</html>