<!DOCTYPE  html>
<html lang="ua-UA">
<head>
    <title>Aдміністрування</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <div class="wrapper">
        <ul id="nav">
            <li><a th:href="@{/}">Головна сторінка</a></li>
            <li><a th:href="@{/article}">Статті</a></li>
            <li><a th:href="@{/event}">Події</a></li>
            <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
                <a th:href="@{/me}">Мій аккаунт</a></li>
            <li id="admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin}">Адміністрування</a>
            </li>
            <li id="adminCourse" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin/course}">Адміністрування Курсів</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin/course/new}">Створити курс</a>
            </li>
            <li id="loginButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/login}">Авторизуватися</a></li>
            <li id="registrationButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/registration}">Зареєструватись</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrapper">
        <div id="adminTable">
            <table id="tableForm">
                <thead>
                <th>Видалення курсу</th>
                </thead>
                <tr>
                    <td>
                        <form th:action="@{/admin/course}"
                              th:method="DELETE">
                            <fieldset>
                                <div>
                                    <input name="courseID" type="text"
                                           placeholder="ID курсу"
                                           title="ID курсу">
                                </div>
                                <div class="formValidationError"
                                     th:if="${deleteIdError}" th:text="${deleteIdError}">IdError
                                </div>
                                <input class="submit" name="submit" type="submit" value="Видалити курс"/>
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </table>

            <table id="table">
                <thead>
                <th>ID</th>
                <th>Назва курсу</th>
                <th>Назва відео</th>
                <th>Посилання на відео</th>
                <th>Текст</th>
                <th>Сторінка</th>
                <th></th>
                </thead>
                <th:block th:each="course : ${listOfCourses}">
                    <tr>
                        <td th:text="${course.getId()}"></td>
                        <td th:text="${course.getCourseTitle()}"></td>
                        <td th:text="${course.getVideoTitle()}"></td>
                        <td th:text="${course.getVideoLink()}"></td>
                        <td th:text="${course.getText()}"></td>
                        <td th:text="${course.getPage()}"></td>
                        <td><a th:href="@{/admin/course/{courseId}/edit (courseId=${course.getId()})}">
                            <button type="button" title="Редагувати">Редагувати</button>
                        </a>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>
<div id="footer">
</div>
</body>
</html>