<!DOCTYPE  html>
<html lang="ua-UA">
<head>
    <title>Aдміністрування</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <div class="wrapper">
        <ul id="nav">
            <li><a th:href="@{/}">Головна сторінка</a></li>
            <li><a th:href="@{/article}">Статті</a></li>
            <li><a th:href="@{/event}">Події</a></li>
            <li><a th:href="@{/course}">Курси</a></li>
            <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
                <a th:href="@{/me}">Мій аккаунт</a></li>
            <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <li id="admin">
                    <a th:href="@{/admin}">Адміністрування</a>
                </li>
                <li id="adminCourse">
                    <a th:href="@{/admin/course}">Адміністрування Курсів</a>
                </li>
                <li>
                    <a th:href="@{/admin/course/new}">Створити курс</a>
                </li>
                <li>
                    <a th:href="@{/admin/course-title/new}">Створити назву курсу</a>
                </li>
            </th:block>
            <li id="loginButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/login}">Авторизуватися</a></li>
            <li id="registrationButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/registration}">Зареєструватись</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrapper">
        <div id="adminTable">
            <table id="tableForm">
                <thead>
                <th>Видалення курсу</th>
                <th>Видалення назву курсу</th>
                </thead>
                <tr>
                    <td>
                        <form th:action="@{/admin/course/delete}"
                              th:method="DELETE">
                            <fieldset>
                                <div>
                                    <input name="courseID" placeholder="ID курсу"
                                           title="ID курсу"
                                           type="number" min="1">
                                </div>
                                <div class="formValidationError"
                                     th:if="${deleteIdError}" th:text="${deleteIdError}">IdError
                                </div>
                                <input class="submit" name="submit" type="submit" value="Видалити курс"/>
                            </fieldset>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/course-title/delete}"
                              th:method="DELETE">
                            <fieldset>
                                <div>
                                    <input name="courseTitleID" placeholder="ID назви курсу"
                                           title="ID назви курсу"
                                           type="number" min="1">
                                </div>
                                <div class="formValidationError"
                                     th:if="${courseTitleIDError}" th:text="${courseTitleIDError}">courseTitleIDError
                                </div>
                                <div class="formValidationError"
                                     th:if="${linksByCourseTitleError}" th:text="${linksByCourseTitleError}">
                                    linksByCourseTitleError
                                </div>
                                <input class="submit" name="submit" type="submit" value="Видалити назву курсу"/>
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </table>
            <table id="courseTitle">
                <thead>
                <th>ID</th>
                <th>Назва курсу</th>
                <th>Опис курсу</th>
                </thead>
                <th:block th:each="courseTitle : ${listOfCourseTitles}">
                    <tr>
                        <td th:text="${courseTitle.getId()}"></td>
                        <td th:text="${courseTitle.getTitle()}"></td>
                        <td th:text="${courseTitle.getDescription()}"></td>
                        <td>
                            <a th:href="@{/admin/course-title/{courseTitleId}/edit (courseTitleId=${courseTitle.getId()})}">
                                <button title="Редагувати" type="button">Редагувати</button>
                            </a>
                    </tr>
                </th:block>
            </table>
            <table id="table">
                <thead>
                <th>ID</th>
                <th>Назва курсу</th>
                <th>Назва відео</th>
                <th>Посилання на відео</th>
                <th>Текст</th>
                <th>Сторінка</th>
                <th></th>
                </thead>
                <th:block th:each="course : ${listOfCourses}">
                    <tr>
                        <td th:text="${course.getId()}"></td>
                        <td th:text="${course.getCourseTitle().getTitle()}"></td>
                        <td th:text="${course.getVideoTitle()}"></td>
                        <td th:text="${course.getVideoLink()}"></td>
                        <td th:text="${course.getText()}"></td>
                        <td th:text="${course.getPage()}"></td>
                        <td><a th:href="@{/admin/course/{courseId}/edit (courseId=${course.getId()})}">
                            <button title="Редагувати" type="button">Редагувати</button>
                        </a>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>
<div id="footer">
</div>
</body>
</html>