<!DOCTYPE  html>
<html lang="uk-UA">
<head>
    <title>Aдміністрування</title>
    <meta charset="utf-8">
</head>
<body>
<div id="header">
    <div class="wrapper">
        <ul id="nav">
            <li><a th:href="@{/}">Головна сторінка</a></li>
            <li><a th:href="@{/article}">Статті</a></li>
            <li><a th:href="@{/event}">Події</a></li>
            <li><a th:href="@{/course}">Курси</a></li>
            <li id="me" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
                <a th:href="@{/me}">Мій аккаунт</a></li>
            <li id="admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin}">Адміністрування</a>
            </li>
            <li id="adminCourse" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin/course}">Адміністрування Курсів</a>
            </li>
            <li id="loginButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/login}">Авторизуватися</a></li>
            <li id="registrationButton"
                th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                <a th:href="@{/registration}">Зареєструватись</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrapper">
        <div id="adminTable">
            <table id="tableForm">
                <thead>
                <th>Пошук користувачів</th>
                <th>Видалення</th>
                <th>Створити код</th>
                <th>Видалити код</th>
                </thead>
                <tr>
                    <td>
                        <form th:action="@{/admin/find-by-id}"
                              th:method="GET">
                            <fieldset>
                                <div>
                                    <input min="1" name="userID"
                                           placeholder="ID користувача"
                                           title="ID користувача" type="number">
                                </div>
                                <div class="formValidationError"
                                     th:if="${getUserInvalidID}" th:text="${getUserInvalidID}">getUserInvalidID
                                </div>
                                <input class="submit" name="submit" type="submit" value="Знайти"/>
                            </fieldset>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/delete}"
                              th:method="DELETE">
                            <fieldset>
                                <div>
                                    <input min="1" name="userID"
                                           placeholder="ID користувача"
                                           title="ID користувача" type="number">
                                </div>
                                <div class="formValidationError"
                                     th:if="${deleteUserInvalidID}" th:text="${deleteUserInvalidID}">deleteUserInvalidID
                                </div>
                                <input class="submit" name="submit" type="submit" value="Видалити користувача"/>
                            </fieldset>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/code/new}"
                              th:method="POST">
                            <fieldset>
                                <div>
                                    <input min="1" name="userID"
                                           placeholder="ID користувача"
                                           title="ID користувача" type="number">
                                </div>
                                <div>
                                    <input min="1" name="courseTitleID"
                                           placeholder="ID курсу"
                                           title="ID курсу" type="number">
                                </div>
                                <div class="formValidationError"
                                     th:if="${courseNotFound}" th:text="${courseNotFound}">courseNotFound
                                </div>
                                <div class="formValidationError"
                                     th:if="${userNotFound}" th:text="${userNotFound}">userNotFound
                                </div>
                                <div class="formValidationError"
                                     th:if="${userActivationCodeExists}" th:text="${userActivationCodeExists}">
                                    userActivationCodeExists
                                </div>
                                <div class="formValidationError"
                                     th:if="${mailHasBeenSent}" th:text="${mailHasBeenSent}">mailHasBeenSent
                                </div>
                                <input class="submit" name="submit" type="submit" value="Створити код"/>
                            </fieldset>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/code/delete}"
                              th:method="DELETE">
                            <fieldset>
                                <div>
                                    <input name="activationCode" placeholder="Код активації"
                                           title="Код активації"
                                           type="text">
                                </div>
                                <div class="formValidationError"
                                     th:if="${codeInvalidInput}" th:text="${codeInvalidInput}">codeInvalidInput
                                </div>
                                <input class="submit" name="submit" type="submit" value="Видалити код"/>
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </table>

            <table id="tableUser">
                <thead>
                <th>ID</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Ролі</th>
                <th>Курси</th>
                <th>Коди</th>
                <th>Підтверджена пошта</th>
                </thead>
                <th:block th:each="user : ${listOfUsers}">
                    <tr>
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td>
                            <div th:each="role : ${user.roles}" th:text="${role}"></div>
                        </td>
                        <td>
                            <div th:each="code : ${user.activationCodes}"
                                 th:text="${code.getCourseTitle().getTitle()}"></div>
                        </td>
                        <td>
                            <div th:each="code : ${user.activationCodes}"
                                 th:text="${code.getCode()}"></div>
                        </td>
                        <td>
                            <div th:if="${user.isEmailConfirmed()}" th:text="'Так'"></div>
                            <div th:text="'Ні'" th:unless="${user.isEmailConfirmed()}"></div>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>
<div id="footer">
</div>
</body>
</html>